.App {
  text-align: center;
}

.edit {
border: 3px solid blue;
width: 45%;
}

a {
  font-size: 10px;
  color: green;
  display: flex;
  align-items: center;
  border: 6px double palevioletred;
  border-spacing: 15px;
  border-width: 45%;
}

.pokemon {
  border: 15px dotted black;
}
